version: "3.7"

services:
  php:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    volumes:
      - .:/var/www/html
    networks:
      - demo-xhprof

  nginx:
    build:
      context: .
      dockerfile: .docker/nginx/Dockerfile
    depends_on:
      - php
    ports:
      - 8000:80
    volumes:
      - "./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./public:/var/www/html/public"
    networks:
      - demo-xhprof

networks:
  demo-xhprof: